#
# This config contains environment-data: Servers, usernames, passwords etc.
# If will be automatically merged with the core config when accesses through the application config system.
#
# In the code repository, this file is called kb-test-environment.yaml.sample and should not contain real
# values, only the configuration structure. Due to the ".sample" extension, it will not be loaded by
# ServiceConfig.
#
# When applied to production, the file should be copied, adjusted and renamed to kb-test-environment.yaml
# The new file kb-test-environment.yaml should NOT be added to the code repository!
#

config:

  # Production machine setup
  backend:
    db: 'http://realmachine:8090/foobar/'
    user: 'real_dbuser'
    password: 'real_dbpassword'
